package layouts

import t "github.com/a-h/templ"


templ Base(Page t.Component, Head t.Component, Header t.Component, Footer t.Component) {
<!DOCTYPE html>
<html>
@Head
@Header

<body class="bg-gray-100 text-gray-900">
  @Page
</body>

@Footer

</html>
}
