package metadatas

templ Head() {

<head>
  <title>Astel</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/bundle.js" defer></script>
</head>
}
